@import '../../scss/colors.scss';

.header {
    display: flex;
    flex-direction: flex-row;
    justify-content: space-between;
    align-items: center;
    background-color: $orange;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 999;
}

#menu {
    display: flex;
    flex-direction: flex-row;
    justify-content: space-evenly;
}

.menu-section {
    padding: 12px;
    cursor: pointer;
}

#home-section {
    padding: 12px;
    margin-left: 24px;
    cursor: pointer;
}

#user-section {
    padding: 12px;
    margin-right: 12px;
}

::placeholder {
    color: $placeholder-grey;
}

#search-box {
    width: 1000px;
    height: 24px;
    border-radius: 25px;
    border: 0px;
    padding: 12px 20px;
}

#search-box,
select {
    color: $grey;
    border: 1px solid $orange;
}

#suggestions {
    position: absolute;
    top: 64px;
    left: 270px;
    display: block;
}

.suggestion-item {
    background-color: $yellow;
    color: $grey;
    padding: 12px;
    width: 970px;

    &:hover {
        cursor: pointer;
        filter: brightness(90%);
    }
}
