@import '../../scss/colors.scss';

#recent-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px
}

.list-bubble {
  border: 2px solid $light-orange;
  border-radius: 12px;
  padding: 12px;
}

.view-all-button {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-left: 24px;
  font-size: x-large;
  align-items: center;
  border: 2px solid $orange;
  background-color: $orange;
  color: $light-yellow;
}

.view-all-button:hover {
  filter: brightness(70%);
  cursor: pointer;
}
