@import './scss/colors.scss';

#content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;

  padding: 24px;
  gap: 48px;
}

#welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title-line {
  width: 25%;
  margin-top: 24px;
  border: 4px solid $orange;
}

#artist-section,
#album-section {
  display: flex;
  flex-direction: column;
  border-left: solid 12px $orange;
  padding-left: 12px;
}

#recent-list {
  display: flex;
  flex-direction: row;
  gap: 24px
}

.list-bubble {
  border: 2px solid $light-orange;
  border-radius: 12px;
  padding: 12px;
}
