@import './scss/colors.scss';

#content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 24px;
  gap: 48px;
}

#artist-section,
#album-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: solid 12px $orange;
  padding-left: 12px;
}

#recent-artists,
#recent-albums {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
